.commentary {
    &__player {
        font-weight: 500;
        color: #0000ff;
    }
    &__team {
        font-weight: 600;
        color: #000;
    }
    &__list {
        li {
            display: none;
        }
    }
    &__timer {
        text-align: right;
        font-size: 2rem;
        display: none;
    }
}